*{
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background: url('../img/estacionamento.jpg') no-repeat ;
  background-size: cover ;
  }
    
  .navbar {
    overflow: hidden;
    background-color: #333;
    
  }
    
  .navbar a {

    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
    
  .dropdown {
   float: left;
   overflow: hidden;
  }
    
  .dropdown .dropbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
  }
    
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f5ca0a;
  }
    
  .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }
    
  .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
  }
    
  .dropdown-content a:hover {
   background-color: #ddd;
  }
    
  .dropdown:hover .dropdown-content {
   display: block;
  }

  .frame_responsivo {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    display: block;
}  
  .container{
    width: 350px;
    background-color: #f5ca0a;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px;
    
  }
  
  .cabeca_container{
    background-color: #585757;
    text-align: center;
    color: white;
  }

.home_img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.botoes{
  margin-left: auto;
  margin-right: auto;
}

  #botao{
    width: 100px;
    background-color: #585757;
    border: none;
    color: #fff;
    padding: 10px 25px;
    text-decoration: none; /* remover cor depois de apertador */
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
#botao:hover{
    background-color:  #967a00;
}

form{
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

label{
  margin-left: auto;
  margin-right: auto;
}

input, textarea{
  width: 200px;
  border-radius: 5px;
  padding: 2%;
}

/*  teste tab bar  */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #967a00;
  color: #fafafa;
  }